
body {
  margin: 0;
  background: radial-gradient(#00818F , #213E97)
}


.text-center{
  text-align: center;
}
.tarjeta{
  border: 1px solid deeppink;
  /*display: grid;*/
  align-items: center;
  /*color: white;*/
  justify-items: center;
  /*background-color: #00818F;*/
}
.nav{
  display: flex;
  border: 1px solid yellow;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.button{
  background: #fff;
  color: #7993E2;
  border: 2px solid #7993E2;
  padding: 20px 20px;
  border-radius: 30px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}
.button:hover {
  color: #fff;
}
.button::after{
  content: "";
  background: #7993E2;
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  border-radius: 50%;
  left: -50%;
  right: -50%;
  top: -150%;
  bottom: -150%;
  transform: scale(0, 0);
  transition: all 0.4s ease;
}
.button:hover::after {
  transition: all 0.9s ease-out;
  transform: scale(1, 1);
}
.button__svg{

  border: none;
  background: none;
  margin: 0;
}
.button--full{
  background: #fff;
  color: #7993E2;
  border: 2px solid #213E97;
  padding: 20px 20px;
  border-radius: 30px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;

}
.button--full:hover {
  color: #213E97;
}
.button--full::after{
  content: "";
  background: #7993E2;
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  border-radius: 50%;
  left: -50%;
  right: -50%;
  top: -150%;
  bottom: -150%;
  transform: scale(0, 0);
  transition: all 0.4s ease;
}
.button--full:hover::after {
  transition: all 0.9s ease-out;
  transform: scale(1, 1);
}



.tarjeta--form__img{
  float: left;
  width: 200px;
  height: 200px;
}
.tarjeta--form--img__sing{
  width: 200px;
  height: 200px;
}
.inicio{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.inicio__frase{
  font-size: 2em;
  color: white;
}
.inicio__img{
  display: flex;
  align-items: center;
  flex-direction: column;
}


.subirImg {
  display: flex;
  justify-content: space-around;
  /* width: 79%; */
  flex-direction: row;
  align-items: center;;
}
.subirImg--styles{

  align-items: center;
  color: white;
  width: 50%;

}
.barraProgreso {
  width: 100%;
}
.tarjeta--form__input{
  font: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #213E97 ;
  height: 1em;
  margin: 0;
  display: block;
  padding: 8px;
  min-width: 0;
  background: none;
}
.tarjeta--form__input :hover{
  border: 2px solid #213E97;
}
.textField{
  background-color: #7993E2;
  width: 100%;
  border: none !important;
}
.salir{
  display: flex;
  float: right;

}
.Post{
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  /*flex-direction: row;*/
  gap: 50px;
  /*justify-content:center;*/
  align-items: stretch;
  column-count: 3;
  margin: 3%;


}
.post {
  position: relative;
  background-color: #7993E2;
  max-width: 500px;
  border: 5px solid #213E97;
  margin-bottom: 45px;
  border-radius: 10px;
  break-inside: avoid;

}

.post__commentbox {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.post__button {
  text-transform: uppercase;
  flex: 0;
  border: 2px solid #213E97;
  background-color: #7993E2;
  color: white;
}
.post--comentarios {
  padding: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  max-height: 100px;
  overflow-y: auto;
}

.post__input {
  flex: .95;
  border: none;
  padding: 10px;
  border-top: 1px solid #213E97;
  background-color: #7993E2;

}

.post__image {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.post__header {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
}

.post__avatar {
  margin-right: 10px;

}

.post__text {
  padding: 20px;
}
.footer{
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  width: 100%;

}
.footer--left{
  float: left;
  padding-left: 2% ;
}
.footer--right{
  float: right;
  padding-right: 2%;
}

.modalContainer {
  max-width: 80%;
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalImage {
  max-height: 40%;
  max-width: 40%;
  object-fit: contain;

}
@media (max-width: 1150px) {
  .Post{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .subirImg {
    display: flex;
  }
  }
.red{
  background-color: red;
  color: red;
}

.o-modal{
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.8);
  width: 100vw;
  max-width: 100vw;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #000;
}
.o-modal--hidden{
  display: none;
}
.contenedor{
  width: 50vw;
  /*//max-width: variables.$max-content;*/
  margin-left: auto;
  margin-right: auto;
  /*//@media (max-width: variables.$device) {*/
  /*  width: 100vw;*/
  /*}*/
}
.m-modal__header {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}
span {
  cursor: pointer;
}
/*}*/
.formulario{
background: #7993E2;
padding:2rem;
}
