
body {
  margin: 0;
  background: radial-gradient(#00818F , #213E97)
}


.text-center{
  text-align: center;
}
.button{
  background-color: #7993E2 !important;
  color: white !important;
  margin: 10px !important;
}
.tarjeta{
  display: grid;
  align-items: center;
  /*color: white;*/
  justify-items: center;
  background-color: #00818F;



}

.tarjeta--form__img{
  width: 400px;
  height: 400px;
}

.frase{
  color: white;
}


.subirImg {
  display: flex;
  flex-direction: column;
  width: 35%;

}
.barraProgreso {
  width: 100%;
}
.tarjeta--form__input{
  font: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #213E97 ;
  height: 1em;
  margin: 0;
  display: block;
  padding: 8px;
  min-width: 0;
  background: none;
}
.tarjeta--form__input :hover{
  border: 2px solid #213E97;
}
.textField{
  background-color: #7993E2;
  border: none !important;
}
.salir{

}
.Post{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2%;
  justify-content:center;
  align-items: stretch;

}
.post {
  position: relative;
  background-color: #7993E2;
  max-width: 500px;
  border: 5px solid #213E97;
  margin-bottom: 45px;
  border-radius: 10px;


}

.post__commentbox {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.post__button {
  text-transform: uppercase;
  flex: 0;
  border: 2px solid #213E97;
  background-color: #7993E2;
}

.post__comments {
  padding: 20px;
  display: flex;
}
.post__input {
  flex: .95;
  border: none;
  padding: 10px;
  border-top: 1px solid #213E97;
  background-color: #7993E2;
}

.post__image {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.post__header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.post__avatar {
  margin-right: 10px;

}

.post__text {
  padding: 20px;
}


/*.app__header {*/
/*  object-fit: contain;*/
/*  display: flex;*/
/*  z-index: 1;*/
/*  padding: 20px;*/
/*  background-color: white;*/
/*  border-bottom: 1px solid lightgray;*/
/*  margin-bottom: 10px;*/
/*  justify-content: space-between;*/
/*  position: sticky;*/
/*  top: 0;*/

/*}*/

/*.app {*/
/*  background-color: #220939;*/
/*  color:white;*/
/*}*/

/*.app__signup {*/

/*}*/

/*.unauth {*/
/*  text-align: center;*/
/*  font-size: x-large;*/
/*  font-weight: bold;*/
/*}*/