
body {
  margin: 0;
  background: radial-gradient(#00818F , #213E97)
}


.text-center{
  text-align: center;
}
.button{
  background-color: #7993E2 !important;
  color: white !important;
  margin: 10px !important;
}
.button--full{
  background-color: #7993E2 !important;
  color: white !important;
  margin: 0 !important;
  margin-bottom: 40px !important;
  margin-top: 10px !important;
  width: 100%;
  text-align: center;

}

.tarjeta{
  /*display: grid;*/
  align-items: center;
  /*color: white;*/
  justify-items: center;
  /*background-color: #00818F;*/


}

.tarjeta--form__img{
  float: left;
  width: 200px;
  height: 200px;
}
.tarjeta--form--img__sing{
  width: 200px;
  height: 200px;
}
.inicio{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.inicio__frase{
  font-size: 2em;
  color: white;
}
.inicio__img{
  font-size: 2em;
  color: white;
}


.subirImg {
  display: flex;
  justify-content: space-around;
  width: 79%;

}
.subirImg--styles{

  align-items: center;
  color: white;
  width: 50%;

}
.barraProgreso {
  width: 100%;
}
.tarjeta--form__input{
  font: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #213E97 ;
  height: 1em;
  margin: 0;
  display: block;
  padding: 8px;
  min-width: 0;
  background: none;
}
.tarjeta--form__input :hover{
  border: 2px solid #213E97;
}
.textField{
  background-color: #7993E2;
  width: 100%;
  border: none !important;
}
.salir{
  display: flex;
  float: right;

}
.Post{
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  /*flex-direction: row;*/
  gap: 50px;
  /*justify-content:center;*/
  align-items: stretch;
  column-count: 3;
  margin: 5%;


}
.post {
  position: relative;
  background-color: #7993E2;
  max-width: 500px;
  border: 5px solid #213E97;
  margin-bottom: 45px;
  border-radius: 10px;
  break-inside: avoid;

}

.post__commentbox {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.post__button {
  text-transform: uppercase;
  flex: 0;
  border: 2px solid #213E97;
  background-color: #7993E2;
}
.post--comentarios {
  padding: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  max-height: 100px;
  overflow-y: auto;
}

.post__input {
  flex: .95;
  border: none;
  padding: 10px;
  border-top: 1px solid #213E97;
  background-color: #7993E2;

}

.post__image {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.post__header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.post__avatar {
  margin-right: 10px;

}

.post__text {
  padding: 20px;
}
.footer{
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  width: 100%;

}
.footer--left{
  float: left;
  padding-left: 2% ;
}
.footer--right{
  float: right;
  padding-right: 2%;
}

.modalContainer {
  max-width: 80%;
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalImage {
  max-height: 40%;
  max-width: 40%;
  object-fit: contain;

}
